{% extends "base.html" %}

{% block content %}
<div class="about-page">
    <h1>Me?</h1>
    <p>I am nobody. I know a lot, I know so little. I have no credentials, no authority, and nothing I say carries weight. I don't want to shape in else's gaze.</p>

    <p>This blog is a walk through of thoughts—reflections, fantasies, transference, and associations. Hoarding my vestiges.</p>

    <p>Also, I don't know if I'm right, real or wrong. </p>
    <hr style="border: 0; height: 1px; background-color: #ccc; width: 50px; margin: 10px 0;">

    <div style="margin-top: 20px;">
        <p>Maybe ai figured judging</p>
        <img src="{{ url_for('static', filename='images/screenshot_2025_03_22_12_43_40.png') }}" style="max-width: 400px; height: auto; margin-bottom: 20px;">
    </div>
    
    <div>
        <p>Got the dysfunctional right</p>
        <img src="{{ url_for('static', filename='images/screenshot_2025_03_22_12_55_59.png') }}" style="max-width: 400px; height: auto;">
    </div>
</div>
{% endblock %}
