{% extends "base.html" %}

{% block content %}
<div>
    <h1>Me?</h1>
    <p>I am nobody. I know a lot, I know so little. I have no credentials, no authority, and nothing I say carries weight. I don't want to shape in else's gaze.</p>

    <p>This blog is a walk through my thoughts—reflections, fantasies, transference, and associations. Mostly to keep my vestiges alive, to not remain a fleeting door</p>

    <p>Also, I don't know if I'm right, real or wrong. </p>
    
    <div style="margin-top: 20px;">
        <p>Maybe ai knows judging</p>
        <img src="{{ url_for('static', filename='images/Screenshot 2025-03-22 at 12.43.40 PM.png') }}" style="max-width: 400px; height: auto; margin-bottom: 20px;">
    </div>
    
    <div>
        <p>Now calling me fat and dysfunctional</p>
        <img src="{{ url_for('static', filename='images/Screenshot 2025-03-22 at 12.55.59 PM.png') }}" style="max-width: 400px; height: auto;">
    </div>
</div>
{% endblock %}
